<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 다른 앱 위에 Floating Button 표시 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Foreground Service 공통 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- MediaProjection Foreground Service 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <!-- Floating Button Foreground Service 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DundueniFE">

        <!-- 실제 앱 시작 Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DundueniFE">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- 내부 화면 공유 승인 전달 Activity -->
        <activity
            android:name=".feature.capture.MediaProjectionTestActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/Theme.DundueniFE.ProjectionPermission" />

        <!-- Photo Picker 테스트 -->
        <activity
            android:name=".feature.analysis.AnalysisActivity"
            android:exported="false" />

        <activity
            android:name=".feature.photopicker.PhotoPickerActivity"
            android:exported="true" />


        <!-- MediaProjection Foreground Service -->
        <service
            android:name=".feature.capture.MediaProjectionService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />


        <!-- Floating Button Foreground Service -->
        <service
            android:name=".feature.floatingbutton.FloatingButtonService"
            android:exported="false"
            android:foregroundServiceType="specialUse">

            <!-- specialUse Foreground Service 사용 목적 -->
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Persistent user-visible floating safety button overlay" />

        </service>

    </application>

</manifest>
